@define-mixin atSmall {
  @media (min-width: 33.1em) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 50em) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 75em) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
